@media screen and (max-width: 1200px) {
    #experience,
    .experience-details-container {
      margin-top: 2rem;
    }
    #profile,
    .section-container {
      display: block;
    }
    
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    .section__pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
    .about-containers {
      margin-top: 0;
    }

    #contact{
        display: block;
    }

   
  }

  @media (min-width: 800px) {
  
    .hamburger{
      display: none;
    }
  
    .nav{
      display: inline-flex;
      align-items: center ;
      gap: 32px;
      position: static;
      width: auto;
      opacity: 1;
      background: #f7f5eb;
      
    }

   
    .nav li{
      border: none;
    }
  
    .nav a{
      padding: 0;
    }
  }
  


  