@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Oswald:wght@400;500&family=PT+Mono&display=swap');

/*general*/

* {
  font-family: 'PT Mono', monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}


body{
  background-color: #f8f6ed;
}

/*containers*/
.container{
  padding: 15px 9%;
  padding-bottom: 100px;
  
}

.container .heading{
  color:#131325;
  text-align: center;
  padding-bottom: 15px;
  font-family: 'Oswald', sans-serif, medium;
  font-size: 50px;
}

.container .box-container{
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr)) ;
  gap: 15px;
}

.container .box-container .box{
  box-shadow:  0 5px 10px #131325;
  border-radius: 5px;
  background: #131325;
  text-align: center;
  padding: 30px 20px;
}


.container .box-container .box img{
  height: 10rem; 
}


.container .box-container .box h3{
  color: #f8f6ed;
  font-size: 22px;
  padding: 10px 0;
  font-family: 'Oswald', sans-serif;

}

.container .box-container .box p{
  color: #f8f6ed;
  font-size: 15px;
  line-height: 1.8;
  font-family: 'PT Mono', monospace;
}

/*bold BUTTON*/

b{
  color: #08635b;
  letter-spacing: 1px;
}

/*BOX BUTTON*/

.container .box-container .box .btn{
  margin: 10px;
  display: inline-block;
  background: #f8f6ed;
  color: #08635b;
  font-size: 17px;
  border-radius: 5px;
  padding: 8px 25px;
}


.container .box-container .box .btn:hover{
  letter-spacing: 1px;
}

.container .box-container .box:hover{
  box-shadow: 0 10px 15px #131325;
  transform: scale(1.03);
}

/*BACK BUTTON*/


.BACK a {
  text-decoration: none;
  color: inherit; /* Ensures that the button inherits the color from its parent */
}

.BACK {
box-shadow: 0px 6px 20px 0px #08635b;
background-color:#08635b;
border-radius:19px;
display:inline-block;
cursor:pointer;
color:#ffffff;
  font-family: 'PT Mono', monospace;
font-size:20px;
padding:13px 20px;
text-decoration:none;
}

.BACK:hover {
box-shadow: 0px 6px 20px 0px #08635b;
background-color:#08635b;
border-radius:19px;
display:inline-block;
cursor:pointer;
color:#131325;
  font-weight: 600;
  font-family: 'PT Mono', monospace;
font-size:20px;
padding:13px 20px;
text-decoration:none;
}

/*MEDIA*/

@media (max-width: 1200px){
  .container{
    padding: 20px;
  }
}