/*GENERAL*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    transform: none;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: #f8f6ed;
}



/*SECTION*/



section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

p{
    color: #f8f6ed;
    font-family: 'PT Mono', monospace;
    margin-top: 1rem;
}


.title{
    padding-top: 6rem;
    font-size: 7rem;
    text-align: center;
    color: #131325;
    font-family: 'Oswald', sans-serif;
}


/*icon*/

.icon{
    cursor: pointer;
    height: 2rem;
}


/*container css*/


.about-container{
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}


.about-container{
    display: flex;
}



.details-container{
    padding: 1.5rem;
    flex: 1;
    background: #131325;
    border-radius: 2rem;
    text-align: center;
    box-shadow: 26px 22px 55px 6px rgba(0,0,0,0.92);
-webkit-box-shadow: 26px 22px 55px 6px rgba(0,0,0,0.92);
-moz-box-shadow: 26px 22px 55px 6px rgba(0,0,0,0.92);
    
}

.section__text__a{
    text-align: center;
    margin-top: 10rem;
    font-size: 2rem;
  
    
}

h3{
   color: #f8f6ed;
   font-family: 'PT Mono', monospace;

}

.text-container{
    font-family: 'PT Mono', monospace;
}

/*services container*/

#experience{
    position: relative;
}

.experience-sub-title{
    color: #f8f6ed;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*article containers*/

.article-container{
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article{
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon{
    cursor: default;
}

.about-containers {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

/*Button*/

.btn a {
    text-decoration: none;
    color: inherit; 
}

.btn {
	box-shadow: 0px 6px 20px 0px #08635b;
	background-color:#08635b;
	border-radius:19px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-family: 'PT Mono', monospace;
	font-size:20px;
	padding:13px 20px;
	text-decoration:none;
}

.btn:hover {
	box-shadow: 0px 6px 20px 0px #08635b;
	background-color:#08635b;
	border-radius:19px;
	display:inline-block;
	cursor:pointer;
	color:#131325;
    font-weight: 600;
    font-family: 'PT Mono', monospace;
	font-size:20px;
	padding:13px 20px;
	text-decoration:none;
}

/*MEDIA*/

@media screen and (max-width: 1200px){
    #experience,
    .experience-details-container {
        margin-top: 2rem;
    }   

    section{
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }

  
}

@media screen and (max-width: 550px){
    article {
        font-size: 1rem;
      }
      .about-containers{
        flex-wrap: wrap;
      }
      .experience-sub-title {
        font-size: 1.25rem;
      }
      .title {
        font-size: 4rem;
      }
}